*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  /*background: #456990;
  color: #fff;*/
  overflow-x: hidden;
  padding-bottom: 50px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .teamline {
  /*background: #456990;*/
  padding: 50px 0;
}

.timeline .teamline li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline .teamline li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline .teamline li .profile-group {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #00bbff;
}

.timeline .teamline li .profile-group .profile {
  position: relative;
  bottom: 0;
  display: inline-block;
  margin: 1em;
}

.timeline .teamline li .profile-group::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline .teamline li:nth-of-type(even) .profile-group {
  left: 45px;
}

.timeline .teamline li:nth-of-type(even) .profile-group::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #00bbff transparent transparent;
}

.timeline .teamline li:nth-of-type(odd) .profile-group {
  left: -439px;
}

.timeline .teamline li:nth-of-type(odd) .profile-group::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #00bbff;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .teamline li::after {
  transition: background .5s ease-in-out;
}

.timeline .teamline li.in-view::after {
  background: #00bbff;
}

.timeline .teamline li .profile-group {
  visibility: hidden;
   /*display: none;*/
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline .teamline li:nth-of-type(even) .profile-group {
  transform: translate3d(200px, 0, 0);
}

.timeline .teamline li:nth-of-type(odd) .profile-group {
  transform: translate3d(-200px, 0, 0);
}

.timeline .teamline li.in-view .profile-group {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline .teamline li .profile-group {
    width: 250px;
  }
  .timeline .teamline li:nth-of-type(odd) .profile-group {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline .teamline li {
    margin-left: 20px;
  }
  .timeline .teamline li .profile-group {
    width: calc(100vw - 91px);
  }
  .timeline .teamline li:nth-of-type(odd) .profile-group {
    left: 45px;
  }
  .timeline .teamline li:nth-of-type(odd) .profile-group::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #00bbff transparent transparent;
  }
}

/*@media screen and (min-width: 601px) {
	.timeline .teamline li:nth-of-type(even) {
		transform: translateY(-100%);
	}
}*/
